<h2>Listing people</h2>

<%= form_tag root_path, method: :get do %>
  <%= search_field_tag :q, params[:q], placeholder: 'Search people' %>
  <%= submit_tag 'Search' %>
  <%= link_to 'New Person', new_person_path, name: nil %>
<% end %>

<br>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Location</th>
    <th>Age</th>
    <th>Married</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.first_name %></td>
    <td><%= person.last_name %></td>
    <td><%= person.location %></td>
    <td><%= person.age %></td>
    <td><%= person.married %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= paginate @people %>
